In [1]:
import pandas as pd

In [2]:


df=pd.read_csv('times-square-food-beverage-locations.csv')

In [3]:
df

,Company Name,Subindustry,Sub Subindustry,Address,Phone,Website,Borough,Postcode,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA,Location 1
0,Europa Cafe,Café / Deli,NaN,3 Times Sq,212-239-0160,www.euorpacafe.com,1,10036.0,40.756376,-73.986713,5.0,3.0,119.0,1024686.0,1.010140e+09,Midtown-Midtown South ...,"{'longitude': '-73.986713', 'needs_recoding': ..."
1,Ranch 1,Quick Serve,Fast Food,832 Eighth Ave,2129561111,NaN,1,10019.0,40.762444,-73.985983,5.0,3.0,131.0,1024809.0,1.010220e+09,Midtown-Midtown South ...,"{'longitude': '-73.985983', 'needs_recoding': ..."
2,Sosa Borella,Full Serve,Argentinian,832 Eighth Ave,(212) 262-8282,http://www.sosaborella.com/,1,10019.0,40.762444,-73.985983,5.0,3.0,131.0,1024809.0,1.010220e+09,Midtown-Midtown South ...,"{'longitude': '-73.985983', 'needs_recoding': ..."
3,Mi Nidito (Cantina Mexicana),Full Serve,Mexican,852 Eighth Ave,(212) 265-0022,NaN,1,10019.0,40.763128,-73.985481,5.0,3.0,131.0,1081646.0,1.010230e+09,Midtown-Midtown South ...,"{'longitude': '-73.985481', 'needs_recoding': ..."
4,Starbucks,Coffee,NaN,"871-879 Eighth Ave, Suite# 871",2122467699,www.starbucks.com,1,10019.0,40.763644,-73.985134,4.0,3.0,133.0,1025257.0,1.010438e+09,Clinton ...,"{'longitude': '-73.985134', 'needs_recoding': ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
326,Haru,Full Serve,Japanese,205 W 43rd St,(212) 398-9810,NaN,1,10036.0,40.756930,-73.986959,5.0,3.0,119.0,1024706.0,1.010150e+09,Midtown-Midtown South ...,"{'longitude': '-73.986959', 'needs_recoding': ..."
327,Insieme @ The Michaelangelo,Full Serve,Italian,777 Seventh Ave,(212) 582-1310,www.restaurantinsieme.com,1,10019.0,40.761571,-73.982900,5.0,4.0,131.0,1022710.0,1.010038e+09,Midtown-Midtown South ...,"{'longitude': '-73.9829', 'needs_recoding': Fa..."
328,Starbucks,Coffee,NaN,684 Eighth Ave,(212) 398-9702,NaN,1,10036.0,40.758108,-73.989139,5.0,3.0,119.0,1024703.0,1.010150e+09,Midtown-Midtown South ...,"{'longitude': '-73.989139', 'needs_recoding': ..."
329,"Metromet, Inc.",Catering,NaN,224 West 49th Street\nSuite 1619,NaN,http://www.metromet.com/metromet/index.php,1,10019.0,40.761014,-73.985052,5.0,3.0,125.0,1024782.0,1.010200e+09,Midtown-Midtown South ...,"{'longitude': '-73.985052', 'needs_recoding': ..."
330,Barbetta Restaurant,Full Serve,Italian,321 West 46th Street,(212) 246-9171,barbettarestaurant.com,1,10036.0,40.760150,-73.988749,4.0,3.0,127.0,1080891.0,1.010370e+09,Clinton ...,"{'longitude': '-73.988749', 'needs_recoding': ..."

In [ ]:
from tdda.rexpy import pdextract

In [24]:
clean_lst=[]
for index,row in df.iterrows():
    if pd.isna(row['Phone']):#=="nan":
        continue
    clean_lst.append(row)
clean_df=pd.DataFrame(clean_lst)
clean_df.to_csv('dirty.csv',index=False)

In [25]:

clean_lst=[]
for index,row in df.iterrows():
    if pd.isna(row['Phone']):#=="nan":
        continue
    if row['Phone'][0]=='(':
        continue
    clean_lst.append(row)

In [26]:
clean_df=pd.DataFrame(clean_lst)

In [27]:
clean_df.to_csv('clean.csv',index=False)

In [47]:
k=5

import math
from math import sin, cos, sqrt, atan2

R = 6373.0
def get_distance(i1,i2,df):

    r1=df.iloc[i1]
    r2=df.iloc[i2]
    a1=r1['Phone'][:3]
    lat1=r1['Latitude']
    long1=r1['Longitude']
    s1=r1['Subindustry']

    a2=r2['Phone'][:3]
    lat2=r2['Latitude']
    long2=r2['Longitude']
    s2=r2['Subindustry']


    dlon = long2 - long1
    dlat = lat2 - lat1
    a = (sin(dlat/2))**2 + cos(lat1) * cos(lat2) * (sin(dlon/2))**2
    c = 2 * atan2(sqrt(a), sqrt(1-a))
    distance = R * c + abs(int(a1)-int(a2))

    if not s1 ==s2:
        distance+=1

    return distance

import random
first_center=random.randint(0,clean_df.shape[0])
print(first_center)
assignment={}
i=0
while i<clean_df.shape[0]:
    assignment[i]=0
    i+=1
    
centers=[first_center]
i=1
while i<k:
    max_dist=0
    max_dist_j=-1
    j=0
    while j<clean_df.shape[0]:     
        dist=get_distance(j,centers[assignment[j]],clean_df)
        if dist>max_dist:
            max_dist=dist
            max_dist_j=j
        j+=1
    centers.append(max_dist_j)
    
    j=0
    while j<clean_df.shape[0]:     
        dist=get_distance(j,centers[-1],clean_df)
        old_dist=get_distance(j,centers[assignment[j]],clean_df)
        if dist<old_dist:
            assignment[j]=len(centers)-1
        j+=1
    
    
    i+=1

64
737.5581447942147 69 0 [64]
111.8422213605663 13 0 [64, 69]
48.643505688376 59 0 [64, 69, 13]
37.90539765661009 72 0 [64, 69, 13, 59]

In [48]:
print(assignment)

{0: 4, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 3, 11: 3, 12: 3, 13: 2, 14: 3, 15: 0, 16: 3, 17: 0, 18: 0, 19: 3, 20: 4, 21: 4, 22: 4, 23: 4, 24: 0, 25: 4, 26: 0, 27: 4, 28: 0, 29: 4, 30: 0, 31: 0, 32: 3, 33: 0, 34: 0, 35: 3, 36: 3, 37: 0, 38: 4, 39: 0, 40: 0, 41: 4, 42: 0, 43: 0, 44: 0, 45: 4, 46: 0, 47: 0, 48: 0, 49: 4, 50: 0, 51: 0, 52: 4, 53: 0, 54: 0, 55: 0, 56: 0, 57: 0, 58: 0, 59: 3, 60: 0, 61: 4, 62: 0, 63: 0, 64: 0, 65: 4, 66: 4, 67: 3, 68: 3, 69: 1, 70: 3, 71: 4, 72: 4, 73: 4, 74: 4, 75: 4, 76: 4, 77: 4, 78: 0, 79: 0, 80: 4, 81: 0, 82: 0, 83: 0, 84: 0, 85: 0, 86: 0, 87: 3, 88: 0, 89: 0, 90: 0, 91: 0, 92: 0, 93: 0, 94: 0, 95: 0, 96: 0}

In [43]:
print(centers)

[80, 69, 69, 69, 69]